@import url(./sitewide.css);
@import url(./sections.css);

html,
body {
  height: 100%;
}

body {
  --dark-desaturated-blue: hsl(227, 35%, 25%);
  --grayish-blue: hsl(225, 20%, 60%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --light-grayish-blue1: hsl(224, 65%, 95%);
  --light-grayish-blue2: hsl(223, 50%, 87%);
  --pale-blue: hsl(226, 100%, 87%);
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --white: hsl(230, 100%, 99%);
}

h2,
span,
p {
  --size-small: 12px;
  --size-big: 18px;
  --size-bigger: 22px;
  --size-biggest: 28px;
}
