header {
  align-items: center;
  background: url(../images/pattern-circles.svg) no-repeat center;
  display: flex;
  height: 10rem;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
}

header h2 {
  color: var(--dark-desaturated-blue);
  font-size: var(--size-bigger);
  margin-bottom: 0;
}

header p {
  color: var(--grayish-blue);
  font-size: var(--size-small);
}

#discount-card {
  color: var(--grayish-blue);
}

#discount-card__header {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

#discount-card__pricing {
  align-items: center;
  display: flex;
  justify-content: center;
}

#discount-card__price-tag {
  color: var(--dark-desaturated-blue);
  font-size: var(--size-biggest);
}

#discount-card__slider {
  appearance: none;
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    var(--soft-cyan) 50%,
    var(--light-grayish-blue) 50%
  );
  height: 8px;
  margin: 3rem 0;
  order: 3;
  width: 100%;
}

#discount-card__slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: url(../images/icon-slider.svg) var(--strong-cyan) no-repeat center;
  border-radius: 50%;
  box-shadow: 0 10px 20px var(--strong-cyan);

  height: 40px;
  width: 40px;
}

#discount-card__slider::-moz-range-thumb {
  background: url(../images/icon-slider.svg) var(--strong-cyan) no-repeat center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 375px) {
  #discount-card__header {
    flex-direction: column;
    text-align: center;
  }

  #discount-card__slider {
    margin: 2rem 0;
    order: 0;
  }
}
